<div id="table">
    <table>
        <tr id="table-headers">
            <th>
                ID
            </th>
            <th>
                NAME
            </th>
            <th>
                USERNAME
            </th>
            <th>
                EMAIL
            </th>
            <th>
                PHONE
            </th>
            <th>
                WEBSITE
            </th>
        </tr>
        <tr class="data-user " *ngFor="let user of users">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.website}}</td>
        </tr>
    </table>
    <br>

    <h1> FORMULARIO</h1>

    <app-edit-user-form 
        [user]="selectedUser" [disabled]="true"
        (eventEmitter)="addUser($event)"
    ></app-edit-user-form>
</div>